<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="resources/car_icon_150909.ico">
    <link rel="stylesheet" href="css/colours.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/radio.css">
    <script src="resources/no_stopping_defence/js/form_variables.js" defer></script>
    <script src="resources/no_stopping_defence/js/generate_text.js" defer></script>
    <script src="resources/no_stopping_defence/js/pofa_date.js" defer></script>

    <title>No stopping defence generator</title>
</head>
<body>

<div class="page-content">

    <h2>No stopping defence generator</h2>

    <p>
        This tool is designed to help you generate a defence to a MCOL claim, where the claimant alleges that you contravened a 'no stopping' rule on private land. It is intended for use in England and Wales, where the Protection of Freedoms Act 2012 (PoFA) applies. In Scotland and Northern Ireland, things are <em>different</em>.
    </p>
    <p>The output of this tool is unlikely to exactly match your circumstances, but it should provide a useful starting point for your defence. Review the output carefully, and feel free to edit as needed.</p>
    <p>
        Note: The generated text is for informational purposes only and should not be considered legal advice. Always consult with a qualified legal professional for advice specific to your situation.
    </p>